@font-face {
    font-family: 'Caveat';
    /* font-style: normal;
    font-weight: 400; */
    src: url('/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
    font-display: block;
}

h1, a.fancy {
    color: #9ea3fa;
    font-family: 'Caveat', Georgia, 'Times New Roman', Times, serif;
}