.frm-btf {
    display: none;
}

.form-message {
    display: grid;
    grid-template: 1fr / 1fr;
    row-gap: 0.5em;
}
@media (min-width: 720px) {
    .form-message {
        grid-template: 1fr / 300px 1fr;
        column-gap: 1em;
    }
}

.form-message label {
    grid-column-end: auto;
    font-weight: 500;
}
.form-message label small {
    font-weight: 300;
}
.form-message input, .form-message textarea {
    border: 1px solid var(--tertiary);
    border-radius: 2px;
    padding: 0.2em 0.4em;
    grid-column-end: -1;
    background-color: var(--theme);
    color: var(--primary);
}
.form-message .captcha {
    grid-column-end: -1;
    padding: 0.2em 0.4em;
}
.form-message input[type="submit"] {
    grid-column-end: -1;
}
.form-message .instructions {
    grid-column-end: -1;
    padding-bottom: 1em;
}