.hardware-item {
    display: grid;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    grid-template-areas: "figure" "title" "content" "links";
    margin-bottom: 1.5rem;

    font-size: 16px;
}

.hardware-item figure {
    grid-area: figure;
    text-align: center;
    max-width: 100%;
}
.hardware-item figure figcaption {
    font-weight: normal;
    font-style: italic;
    color: var(--secondary);
}
.hardware-item figure a {
    box-shadow: none;
}

.hardware-item-content {
    grid-area: content;
}

.hardware-item-links {
    grid-area: links;
    background-color: var(--code-bg);
}
.hardware-item-title {
    grid-area: title;
}

@media (min-width: 720px) {
    .hardware-item { 
        grid-template-areas: "empty title links" "figure content links";
        grid-template-columns: 25% 1fr 25%;
        column-gap: 1.5rem;
    }

    .hardware-item-links {
        border-left: 1px solid var(--tertiary);
        padding: 1rem 0 0 1rem;
    }
}