.post-content figure {
    width: 100%;
    text-align: center;
}
@media (min-width: 720px) {
    .post-single figure img {
        max-width: 80%;
        display: inline;
    }

    .post-single .entry-cover {
        float: right;
        max-width: 40%;
    }

    .entry-cover + .toc {
        max-width: 60%;
    }
}